* .hero {
	text-align: center;
	color: #ffffff;
	background-color: #68b738;
	background-image: url("../images/hero/hero-background-mobile@1x.jpg");
	background-repeat: no-repeat;
	background-size: contain;
  }

  @media (min-width: 768px) {
	.hero {
	  color: #000000;
	  background-color: #ffffff;
	  background-image: none;
	}
  }

  @media (min-width: 768px) and (min-resolution: 2dppx) {
	.hero {
	  color: #000000;
	  background-color: #68b738;
	  background-image: url("");
	}
  }

  @media (min-width: 1200px) {
	.hero {
	  text-align: start;
	  background-image: url("../images/hero/hero-background-desktop@1x.jpg");
	  background-position: 100%;
	}
  }
